/installer/*.pmsp
/installer/*.dmg
/installer/dmg-*
/installer/resources-*
/installer/contents-*
/installer/Info.plist

/installer/contents/*

/installer/dmg/*.pkg
/installer/dmg/FinkCommander

/makecd/.*.swp
/makecd/*.dmg

/pdb/*-stable.sql
/pdb/.finkdbi
/pdb/fink
/pdb/finksql
/pdb/basepath
/pdb/basepath_fink.inc
/pdb/current_pdb_dump.sql
/pdb/htdocs_pdb.inc
/pdb/lucene*.txt
