li { font-family: monospace; }
li.leaf { list-style-type: disc; }
li.tree-open {
  list-style-type: disc;
  list-style-image: url(disclosure-open.png);
}
li.tree-closed {
  list-style-type: disc;
  list-style-image: url(disclosure-closed.png);
}
